<div class="jumbotron">
  <h1>How About Here?</h1>
</div>

<div class="main-img-div"></div>

<div class="col-md-6">
  <h2>Comments</h2>
  <ul class="comments"></ul>
<div class="comment-form">

</div>

</div>


<div class="col-md-6">
  <div id = "mygallery" class="image-div"></div>
  <div class="jumbotron jumbo-small">
    <h2 >Not For You? Search Again!</h2>
  </div>
  <div class= "search-form"></div>
</div>

<input id= "book-listing" type="submit" class="btn btn-primary" value="Book It!" method= "get" class="form-control">
