<div class="jumbotron">
  <h1>How About Here?</h1>
</div>

<div class="main-img-div"></div>

<div class="col-md-6">
  <br>
  <div class="list-group">
    <a class="list-group-item active">
      <h1 class="list-group-item-heading"><%= listing.escape("title") %></h1>
    </a>
    <a class="list-group-item">
      <h1 class="list-group-item-heading">Price</h1>
      <p class="list-group-item-text"><%= listing.escape("price") %> Dollars A Night</p>
    </a>
    <a class="list-group-item">
      <h1 class="list-group-item-heading">Details</h1>
      <p class="list-group-item-text"><%= listing.escape("details") %></p>
    </a>
  </div>
  <h2>Comments</h2>
  <ul class="comments"></ul>
<div class="comment-form">

</div>

</div>

<div class="col-md-6">

  <br>
  <input id= "book-listing" type="submit" class="btn btn-primary" value="Book It!" method= "get" class="form-control">


  <div id = "mygallery" class="image-div"></div>
  <div class="jumbotron jumbo-small">
    <h2 >Not For You? Search Again!</h2>
  </div>
  <div class= "search-form"></div>
</div>
