<div class= "jumbotron">
  <h1>Hidden Show Page</h1>
</div>


<input id="search_button"type="submit" class="search-listings btn btn-primary book_it" value="Book It!" method= "get" class="form-control">
