<div class="jumbotron">
  <h1>SurpriseBNB</h1>
  <h2 class="tag-line"> Where will you vacation? </h2>
</div>

<div class="col-md-7 map">
  <div id= "map-canvas"  class= "bordered" style="width:700px; height:500px;"></div>

</div>
<div class="col-md-5">
  <p>
    SurpriseBNB is a new, exciting way to vacation. Put in your availability, price
    range, and where you are willing to go and a listing that fits your criteria
    will appear. The twist is, you don't know where it is until you book it! So the only question is,
    where will you vacation?
  </p>
  <div class="jumbotron jumbo-small">
    <h2 >Search For a Listing</h2>
  </div>
  <div class = "search-form"></div>
</div>

<div class= "col-md-12 form-group-lower"></div>
