<!-- <li><%= comment.escape("body")%></li> -->

<a class="list-group-item">
  <h4 class="list-group-item-heading"> <%= SurpriseBNBApp.currentUserId%> </h4>
  <p class="list-group-item-text"><%= comment.escape("body")%></p>
</a>
