<!-- <li><%= comment.escape("body")%></li> -->

<a class="list-group-item">
  <h4 class="list-group-item-heading"> <%= comment.get("user_id") %> </h4>
  <p class="list-group-item-text"><%= comment.escape("body")%></p>
</a>
