<div id="content">
  <h1>ROOT PAGE!!!!!</h1>
</div>


<% if current_user.nil? %>
  <% require_signed_in %>
<% else %>
  <script charset="utf-8">
    $(document).ready(function(){
      SurpriseBNBApp.currentUserId = <%= current_user.id %>
      SurpriseBNBApp.currentUserUsername = "<%= current_user.username %>"
      SurpriseBNBApp.initialize();
    });
  </script>
<% end%>
