/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 //= require chosen
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.form-group {
  height: 40px;
}

.form-group-lower {
  height: 30px;
}

.form-group-higher {
  height: 190px;
}


.no-listings-found {
  color: red;
}

html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;

}

#map-canvas {
  min-height: 800px;
  overflow: hidden;
}

#map-canvas > div {
  height: 500px;
}

.image-div {
  width: 100%;
  height: 100%;
  img {
    height: 200px;
    max-width: 300px;
    padding: 2px;
    border: 1px solid #ccc;
    margin: 5px;
  }
}

.submit-button{
  margin: 0 auto;
  display: block;
}

.title {
  height: 100px;
}

.main-div{
  display: block;
  margin: 0 auto;
  width: 75%;
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.jumbo {
  padding-left: 20px;
}

.main-img-div {
  height: 400px;
  overflow: hidden;
}

.main-img {
  width: 100%;
}
